<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-ui-router.min.js"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/route-config.js"></script>
    <script src="../Scripts/firstcontroller.js"></script>
</head>
<body ng-app="routeModule">
    <a href="#/home">Home</a>
    <a href="#/first-msg">First</a>
    <a href="#/second-msg">Second</a>
    <div ui-view></div>
</body>
</html>
